@import url('../../assets/reset.css');

.s-menu{
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 1rem;
  z-index: 3;
}
.s-menu__item{
  display: inline-block;
  text-transform: uppercase;
  margin:  0 1.25rem;
}

.s-menu__icon{
  width: 2.5rem;
  margin:  0 1.25rem;
  vertical-align: center;
  color: black;
}

#header-background{
  position: inherit;
  width: 100%;
  background-color: blue;
}

.s-menu__item a{
  color: black;
  font-weight: bolder

}
