<nav class="s-menu">
  <div id="header-background"></div>
  <ul>
    <li class="s-menu__item">
      <a href="/index.html">Página Inicial</a>
    </li>
    <li class="s-menu__item">
      <a href="/assets/pages/series1.html">Séries&Filmes</a>
    </li>
    <li class="s-menu__item s-menu__icon">
      <img src="../../assets/img/icons/star-trek-command.svg" alt="Star Trek">
    </li>
    <li class="s-menu__item">
      <a href="#">Tripulação</a>
    </li>
    <li class="s-menu__item">
      <a href="#">Naves</a>
    </li>
  </ul>
</nav>

