/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('/src/assets/reset.css');

:root {
  --primary-color: #5639d8;
}

body{
  font-family: 'Poppins', sans-serif;
  background-image: url('../src/assets/img/background/bg-teste.png');
  background-size: cover;
  background-repeat: no-repeat;
}






