<div class="container">

  <div class="s-container">
    <div class="s-cards-carousel" style="transform: translateZ(-40vw) rotateY(0deg);">
      <a href="#" class="s-card" id="st-1">
        <img class="s-card__background" src="../../assets/img/background/background--yellow.webp">
        <img class="s-card__image" src="" alt="Filmes e Séries">
        <h2 class="s-card__title">Séries&Filmes</h2>
      </a>
      <a href="#" class="s-card" id="st-2">
        <img class="s-card__background" src="../../assets/img/background/background--blue.png">
        <img class="s-card__image" src="" alt="Tripulação">
        <h2 class="s-card__title">Tripulação</h2>
      </a>
      <a href="#" class="s-card" id="st-3">
        <img class="s-card__background" src="../../assets/img/background/background--red.png">
        <img class="s-card__image" src="" alt="Naves">
        <h2 class="s-card__title">Naves</h2>
      </a>
    </div>
  </div>

  <div class="s-controller">
    <div id="1"  class="s-controller__button s-controller__button--active">
      01
    </div>
    <div id="2" (click)="selectCarouselItem(this)" class="s-controller__button">
      02
    </div>
    <div id="3"  class="s-controller__button">
      03
    </div>
    <div class="s-controller__line"></div>
  </div>
</div>
